# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python

# Virtual environments
venv/
.venv/
env/

# Env vars / secrets
.env

# IDE
.idea/
.vscode/

# Project data (frames, videos, outputs)
scens/frames/
frames/
tests/
test/
chroma_data/
storage/thumbnails_data
*.mp4
*.avi
*.mov


# OS
.DS_Store